*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
    display: flex;
    flex-direction: column;
}
header{
    color: white;
    text-align: center;
    margin: 1%;
    
}
section{
    background-color:  white;
    border-radius: 10px;
    padding: 1%;
    width: 35%;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#box-msg{
    font-size: 130%;
    font-weight: bolder;
    font-style: italic;
    padding: 2%;
}
#box-pic{
    padding: 2%;
    display: flex;
    justify-content: center;

}
footer{
    text-align: center;
    font: italic;
    color: white;
    margin: 1%;
}
#pic{
    width: 90%;
    
}